/*-- scss:defaults --*/

// fonts
//$font-family-sans-serif: Roboto, Helvetica, sans-serif;
//$font-family-monospace: "Roboto Mono", monospace;

//$presentation-heading-color: #23373b;




// ifgi
$presentation-heading-color: #546e7a;
$font-family-sans-serif: "Roboto", Helvetica, sans-serif;
$font-family-monospace: "Roboto Mono", monospace;


//$selection-bg: lighten($presentation-heading-color, 25%);
//$link-color: lighten($presentation-heading-color, 15%);
$link-color: #546e7a;
$presentation-font-size-root: 26px;
$presentation-title-slide-text-align: center;
$presentation-h1-font-size: 1.9em;
$presentation-h2-font-size: 1.6em;

